<CascadingAuthenticationState> @* 👈 Stuff that I added *@
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            @* I changed this tag 👇 from 'RouteView' to 'AuthorizeRouteView'. *@
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)">
                @* I changed the enclosing tab from 'RouteView' to 'AuthorizeRouteView'. *@
                @* Stuff that I added 👇*@
                <Authorizing>
                    <p>Determining session state, please wait...</p>
                </Authorizing>
                <NotAuthorized>
                    <h1>Sorry</h1>
                    <p>You're not authorized to reach this page. You need to log in.</p>
                </NotAuthorized>
                @* Stuff that I added 👆 *@
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        @* Stuff that I added 👇 *@
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(Layout.MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
        @* Stuff that I added 👆 *@
    </Router>
</CascadingAuthenticationState> @* 👈 Stuff that I added *@